body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #212832;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2 {
    font-family: 'Volkhov', serif;
}

h2 {
    font-size: 50px;

}

h4 {
    color: #5E6282;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

p {
    color: #5E6282;
    font-size: 16px;
    font-weight: 500;
}
.heading-description{
    font-weight: 600;
    font-size: 18px;
    color: #5E6282;
    margin: 0;
}
.icon-decore-services {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: -10;
    top: 270px;
    right: 200px;
    opacity: 0;
}