.heading-description{
    font-weight: 600;
    font-size: 18px;
    color: #5E6282;
    margin: 0;
}
.icon-decore-services {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: -10;
    top: 270px;
    right: 200px;
    opacity: 0;
}